<table style="width:100%;height: 100%;">
    <tr valign="top">
        <td width="100%">
            <div class="container-fluid" [hidden]="eksiciSharedService.sessionbean.currentTopic.entryList == null">
                <div class="page-header">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-9">
                                    <div class="huge">{{eksiciSharedService.sessionbean.currentTopic.topicText}}</div>
                                    <div></div>
                                </div>
                                <div class="col-xs-3 text-right">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                            <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i> Şükela:  tümü | bugün  başlıkta ara</small>
                        </div>
                    </div>

                    <div class="text-center">
                        <template ngFor let-i="index" let-c="count" let-page [ngForOf]="eksiciSharedService.sessionbean.currentTopic.pageList">
                            <button type="button" *ngIf="i>eksiciSharedService.sessionbean.currentTopic.currentEntryPage-15 && i<eksiciSharedService.sessionbean.currentTopic.currentEntryPage+15 "
                                    [ngClass]="{'btn' : true , 'btn-primary': true, 'btn-xs': eksiciSharedService.sessionbean.currentTopic.currentEntryPage != page.pageNumber , 'btn-sm': eksiciSharedService.sessionbean.currentTopic.currentEntryPage == page.pageNumber}"
                                    [routerLink]="[eksiciSharedService.getEntryRouterLink(page.pageHref)]"
                                    [disabled]="eksiciSharedService.sessionbean.currentTopic.currentEntryPage == page.pageNumber">
                                {{page.pageNumber}}
                            </button>
                        </template>
                    </div>

                </div>

                <template ngFor let-i="index" let-c="count" let-entry [ngForOf]="eksiciSharedService.sessionbean.currentTopic.entryList">
                    <div [ngClass]="{'panel' : true , 'panel-primary': i%3==0 , 'panel-green': i%3==1 , 'panel-yellow': i%3==2}" >
                        <div class="panel-heading">
                            <span>{{entry.suser.entryAuthor}}</span>
                        </div>
                        <div class="panel-body" [innerHtml]="entry.entryHtml"></div>
                        <div class="panel-footer">
                                <small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{entry.entryDate}}</small>
                                <span class="badge" *ngIf="entry.favoriteCount > 0">{{entry.favoriteCount}}</span>
                        </div>
                    </div>
                </template>

                <div class="text-center">
                    <template ngFor let-i="index" let-c="count" let-page [ngForOf]="eksiciSharedService.sessionbean.currentTopic.pageList">
                        <button type="button" *ngIf="i>eksiciSharedService.sessionbean.currentTopic.currentEntryPage-15 && i<eksiciSharedService.sessionbean.currentTopic.currentEntryPage+15 "
                                [ngClass]="{'btn' : true , 'btn-primary': true, 'btn-xs': eksiciSharedService.sessionbean.currentTopic.currentEntryPage != page.pageNumber , 'btn-sm': eksiciSharedService.sessionbean.currentTopic.currentEntryPage == page.pageNumber}"
                                [routerLink]="[eksiciSharedService.getEntryRouterLink(page.pageHref)]"
                                [disabled]="eksiciSharedService.sessionbean.currentTopic.currentEntryPage == page.pageNumber">
                            {{page.pageNumber}}
                        </button>
                    </template>
                </div>

            </div>

            <div class="container-fluid" [hidden]="eksiciSharedService.sessionbean.currentTopic.errorText == null">
                <div class="page-header">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-9">
                                    <div class="huge">{{eksiciSharedService.sessionbean.currentTopic.errorText}}</div>
                                    <div></div>
                                </div>
                                <div class="col-xs-3 text-right">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" [hidden]="eksiciSharedService.sessionbean.currentTopic.suggestedTopicList == null">
                            <template ngFor let-i="index" let-c="count" let-topic [ngForOf]="eksiciSharedService.sessionbean.currentTopic.suggestedTopicList">
                                <a [routerLink]="[eksiciSharedService.getEntryRouterLink(topic.href)]"  routerLinkActive="active">
                                    <i class="fa fa-paw fa-fw"></i>{{topic.topicText}}</a>
                            </template>
                        </div>
                    </div>

                </div>

            </div>
        </td>
    </tr>
</table>
