<table style="width:100%;height: 100%;">
    <tr valign="top">
        <td>
            <div class="container-fluid" style="padding-top: 35px;">

                <div class="row-fluid">

                    <div class="well">{{eksiciSharedService.sessionbean.topicsTypeDescription}}</div>
                    <template ngFor let-i="index" let-c="count" let-topic [ngForOf]="eksiciSharedService.sessionbean.topicsCurrentPage.contentList">
                        <a href="#" class="list-group-item" (click)="openTopicEntries(topic)">
                    {{topic.topicText}}
                    <span class="badge">{{topic.relatedEntryCount}}</span>
                </a>
                    </template>
                </div>
            </div>
        </td>
        <td>
            <div class="container">
                <div class="page-header">
                    <h1 id="timeline">{{eksiciSharedService.sessionbean.currentTopic.topicText}}</h1>
                </div>
                <ul class="timeline-fullwidth">
                    <template ngFor let-i="index" let-c="count" let-entry [ngForOf]="eksiciSharedService.sessionbean.currentTopic.entryList">
                        <li>
                            <div [ngClass]="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-body">
                                    <p>{{entry.entryText}}</p>
                                </div>
                                <div class="timeline-heading">
                                    
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{entry.entryDate}}</small></p>
                                </div>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
        </td>
    </tr>
</table>