<table style="width:100%;height: 100%;">
    <tr valign="top">
        <td width="100%">
            <div [ngClass]="{'container-fluid' : !eksiciSharedService.sessionbean.mobile}" [hidden]="eksiciSharedService.sessionbean.currentTopic.entryList == null">
                <div class="page-header">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-9">
                                    <div [ngClass]="{'large' : eksiciSharedService.sessionbean.mobile , 'huge' : !eksiciSharedService.sessionbean.mobile}">{{eksiciSharedService.sessionbean.currentTopic.topicText}}</div>
                                </div>
                                <div class="col-xs-3 text-right">
                                    <i [ngClass]="{'fa' : true , 'fa-comments' : true ,  'fa-3x' : eksiciSharedService.sessionbean.mobile , 'fa-5x' : !eksiciSharedService.sessionbean.mobile}" ></i>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                            <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i> Şükela:  
                            <a [routerLink]="[eksiciSharedService.getEntryRouterLink(eksiciSharedService.sessionbean.currentTopic.niceAllHref)]"  routerLinkActive="active">tümü</a> | 
                            <a [routerLink]="[eksiciSharedService.getEntryRouterLink(eksiciSharedService.sessionbean.currentTopic.niceTodayHref)]"  routerLinkActive="active">bugün</a> </small>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="button" [disabled]="eksiciSharedService.sessionbean.currentTopic.currentEntryPage==1"
                                class="btn btn-primary btn-xs"
                                [routerLink]="[eksiciSharedService.getEntryRouterLinkFromTemplate(eksiciSharedService.sessionbean.currentTopic,1)]"
                                routerLinkActive="active">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        </button>
                        <button type="button" [disabled]="eksiciSharedService.sessionbean.currentTopic.currentEntryPage==1"
                                class="btn btn-primary btn-xs"
                                [routerLink]="[eksiciSharedService.getEntryRouterLinkFromTemplate(eksiciSharedService.sessionbean.currentTopic,eksiciSharedService.sessionbean.currentTopic.currentEntryPage-1)]"
                                routerLinkActive="active">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </button>
                        <template ngFor let-i="index" let-c="count" let-page [ngForOf]="eksiciSharedService.sessionbean.currentTopic.pageNumberlist">
                            <button type="button" 
                                   *ngIf="i>eksiciSharedService.sessionbean.currentTopic.currentEntryPage-eksiciSharedService.sessionbean.pagingOffset 
                                       && i<eksiciSharedService.sessionbean.currentTopic.currentEntryPage+eksiciSharedService.sessionbean.pagingOffset 
                                       && eksiciSharedService.sessionbean.currentTopic.totalEntryPage>1
                                       "
                                    [ngClass]="{'btn' : true , 'btn-primary': true, 'btn-xs': eksiciSharedService.sessionbean.currentTopic.currentEntryPage != page , 'btn-sm': eksiciSharedService.sessionbean.currentTopic.currentEntryPage == page}"
                                    [routerLink]="[eksiciSharedService.getEntryRouterLinkFromTemplate(eksiciSharedService.sessionbean.currentTopic , page),{tim:eksiciSharedService.timeInMiliseconds}]"
                                    routerLinkActive="active"
                                    >
                                <i class="fa fa-refresh" *ngIf="eksiciSharedService.sessionbean.currentTopic.currentEntryPage == page" aria-hidden="true"></i>  {{page}}
                            </button>
                        </template>
                        <button type="button" [disabled]="eksiciSharedService.sessionbean.currentTopic.currentEntryPage == eksiciSharedService.sessionbean.currentTopic.totalEntryPage"
                                class="btn btn-primary btn-xs"
                                [routerLink]="[eksiciSharedService.getEntryRouterLinkFromTemplate(eksiciSharedService.sessionbean.currentTopic,eksiciSharedService.sessionbean.currentTopic.currentEntryPage+1)]"
                                routerLinkActive="active">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </button>
                        <button type="button" [disabled]="eksiciSharedService.sessionbean.currentTopic.currentEntryPage == eksiciSharedService.sessionbean.currentTopic.totalEntryPage"
                                class="btn btn-primary btn-xs"
                                [routerLink]="[eksiciSharedService.getEntryRouterLinkFromTemplate(eksiciSharedService.sessionbean.currentTopic,eksiciSharedService.sessionbean.currentTopic.totalEntryPage)]"
                                routerLinkActive="active">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </button>


                    </div>
                    <hr *ngIf="eksiciSharedService.sessionbean.currentTopic.beforeEntries != null" style="width: 100%"/>
                    <button *ngIf="eksiciSharedService.sessionbean.currentTopic.beforeEntries != null" style="width: 100%"
                                class="btn btn-yellow btn-xs"
                                [routerLink]="[eksiciSharedService.getEntryRouterLink(eksiciSharedService.sessionbean.currentTopic.beforeEntries.href)]"  
                                routerLinkActive="active">
                                {{eksiciSharedService.sessionbean.currentTopic.beforeEntries.topicText}}
                    </button>

                </div>

                <template ngFor let-i="index" let-c="count" let-entry [ngForOf]="eksiciSharedService.sessionbean.currentTopic.entryList">
                    <div [ngClass]="{'panel' : true , 'panel-primary': i%3==0 , 'panel-green': i%3==1 , 'panel-yellow': i%3==2}" [id]="entry.entryId">
                        <div class="panel-heading">
                            <span>{{entry.suser.entryAuthor}}</span>
                        </div>
                        <div class="panel-body" [innerHtml]="entry.entryHtml"></div>
                        <div class="panel-footer">
                                <a [routerLink]="[eksiciSharedService.getEntryIdRouterLink(entry.entryId)]"  
                                    routerLinkActive="active">
                                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{entry.entryDate}}</small>
                                </a>
                                <span class="badge" *ngIf="entry.favoriteCount > 0">{{entry.favoriteCount}}</span>
                        </div>
                    </div>
                </template>

                
                <button *ngIf="eksiciSharedService.sessionbean.currentTopic.afterEntries != null" style="width: 100%"
                            class="btn btn-yellow btn-xs"
                            [routerLink]="[eksiciSharedService.getEntryRouterLink(eksiciSharedService.sessionbean.currentTopic.afterEntries.href)]"  
                            routerLinkActive="active">
                            {{eksiciSharedService.sessionbean.currentTopic.afterEntries.topicText}}
                </button>
                <hr/>
                <div class="text-center">
                    <button type="button" [disabled]="eksiciSharedService.sessionbean.currentTopic.currentEntryPage==1"
                            class="btn btn-primary btn-xs"
                            [routerLink]="[eksiciSharedService.getEntryRouterLinkFromTemplate(eksiciSharedService.sessionbean.currentTopic,1)]"
                            routerLinkActive="active">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </button>
                    <button type="button" [disabled]="eksiciSharedService.sessionbean.currentTopic.currentEntryPage==1"
                            class="btn btn-primary btn-xs"
                            [routerLink]="[eksiciSharedService.getEntryRouterLinkFromTemplate(eksiciSharedService.sessionbean.currentTopic,eksiciSharedService.sessionbean.currentTopic.currentEntryPage-1)]"
                            routerLinkActive="active">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </button>
                    <template ngFor let-i="index" let-c="count" let-page [ngForOf]="eksiciSharedService.sessionbean.currentTopic.pageNumberlist">
                        <button type="button" 
                                *ngIf="i>eksiciSharedService.sessionbean.currentTopic.currentEntryPage-eksiciSharedService.sessionbean.pagingOffset 
                                    && i<eksiciSharedService.sessionbean.currentTopic.currentEntryPage+eksiciSharedService.sessionbean.pagingOffset 
                                    && eksiciSharedService.sessionbean.currentTopic.totalEntryPage>1
                                    "
                                [ngClass]="{'btn' : true , 'btn-primary': true, 'btn-xs': eksiciSharedService.sessionbean.currentTopic.currentEntryPage != page , 'btn-sm': eksiciSharedService.sessionbean.currentTopic.currentEntryPage == page}"
                                [routerLink]="[eksiciSharedService.getEntryRouterLinkFromTemplate(eksiciSharedService.sessionbean.currentTopic , page)]"
                                routerLinkActive="active"
                                >
                            <i class="fa fa-refresh" *ngIf="eksiciSharedService.sessionbean.currentTopic.currentEntryPage == page" aria-hidden="true"></i>  {{page}}
                        </button>
                    </template>
                    <button type="button" [disabled]="eksiciSharedService.sessionbean.currentTopic.currentEntryPage == eksiciSharedService.sessionbean.currentTopic.totalEntryPage"
                            class="btn btn-primary btn-xs"
                            [routerLink]="[eksiciSharedService.getEntryRouterLinkFromTemplate(eksiciSharedService.sessionbean.currentTopic,eksiciSharedService.sessionbean.currentTopic.currentEntryPage+1)]"
                            routerLinkActive="active">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </button>
                    <button type="button" [disabled]="eksiciSharedService.sessionbean.currentTopic.currentEntryPage == eksiciSharedService.sessionbean.currentTopic.totalEntryPage"
                            class="btn btn-primary btn-xs"
                            [routerLink]="[eksiciSharedService.getEntryRouterLinkFromTemplate(eksiciSharedService.sessionbean.currentTopic,eksiciSharedService.sessionbean.currentTopic.totalEntryPage)]"
                            routerLinkActive="active">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </button>


                </div>
            </div>

            <div class="container-fluid" [hidden]="eksiciSharedService.sessionbean.currentTopic.errorText == null">
                <div class="page-header">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-9">
                                    <div [ngClass]="{'large' : eksiciSharedService.sessionbean.mobile , 'huge' : !eksiciSharedService.sessionbean.mobile}">{{eksiciSharedService.sessionbean.currentTopic.errorText}}</div>
                                </div>
                                <div class="col-xs-3 text-right">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" [hidden]="eksiciSharedService.sessionbean.currentTopic.suggestedTopicList == null">
                            <template ngFor let-i="index" let-c="count" let-topic [ngForOf]="eksiciSharedService.sessionbean.currentTopic.suggestedTopicList">
                                <a [routerLink]="[eksiciSharedService.getEntryRouterLink(topic.href)]"  routerLinkActive="active">
                                    <i class="fa fa-paw fa-fw"></i>{{topic.topicText}}</a>
                            </template>
                        </div>
                    </div>

                </div>

            </div>
        </td>
    </tr>
</table>