<ul class="nav navbar-top-links navbar-right">
    <li class="active"><a routerLink="/today" routerLinkActive="active">bugün</a></li>
    <li><a routerLink="/popular" routerLinkActive="active">gündem</a></li>                
    <li *ngIf="!eksiciSharedService.sessionbean.mobile"><a routerLink="/todayinhistory/2015" routerLinkActive="active">tarihte bugün</a></li>
    
    <template ngFor let-i="index" let-c="count" let-channel [ngForOf]="eksiciSharedService.sessionbean.channels">
        <li *ngIf="i<eksiciSharedService.sessionbean.channelOffset">
            <a [routerLink]="[getChannellRouterLink(channel)]"  routerLinkActive="active">{{channel.name}}</a>
        </li>
    </template>

    <li dropdown><a href="#" dropdownToggle>...</a>
        <ul dropdownMenu role="menu" aria-labelledby="single-button">
            <template ngFor let-i="index" let-c="count" let-channel [ngForOf]="eksiciSharedService.sessionbean.channels">
                <li *ngIf="i>eksiciSharedService.sessionbean.channelOffset-1">
                    <a [routerLink]="[getChannellRouterLink(channel)]" routerLinkActive="active">{{channel.name}}</a>
                </li>
            </template>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/deserted" routerLinkActive="active">başıboşlar</a></li>
        </ul>
    </li>
    <li><a routerLink="/videos" routerLinkActive="active">videolar</a></li>
    <li *ngIf="eksiciSharedService.sessionbean.loginSuser.suserInfo.nick == null"><a routerLink="/login" routerLinkActive="active">giriş</a></li>

    <li dropdown *ngIf="eksiciSharedService.sessionbean.loginSuser.suserInfo.nick != null"> 
        <a dropdownToggle data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user" dropdownMenu>
            <li >
                <a [routerLink]=[eksiciSharedService.getSuserRouterLink(eksiciSharedService.sessionbean.loginSuser.suserInfo.nick)] routerLinkActive="active">
                    <i class="fa fa-user fa-fw"></i> ben({{eksiciSharedService.sessionbean.loginSuser.suserInfo.nick}})
                </a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> ayarlar</a>
            </li>
            <li class="divider"></li>
            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> terk</a>
            </li>
        </ul>
    </li>
</ul>