<ul class="nav" id="side-menu">
    <li class="sidebar-search">
        <div class="input-group custom-search-form">
            <input [(ngModel)]="asyncSelected"
                    [typeahead]="dataSource"
                    (typeaheadLoading)="changeTypeaheadLoading($event)"
                    (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                    (typeaheadOnSelect)="typeaheadOnSelect($event)"
                    typeaheadOptionsLimit="17"
                    typeaheadOptionField="topicText"
                    placeholder="başlık, #entry ya da @yazar"
                    class="form-control">
            <div *ngIf="typeaheadLoading===true">
                <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
            </div>
            <div *ngIf="typeaheadNoResults===true" class="" style="">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
            <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
        </div>
    </li>
    <li>
        <a href="index.html"><i class="fa fa-calendar fa-fw"></i> {{eksiciSharedService.sessionbean.topicsTypeDescription}}</a>
    </li>
    <li>
        <template ngFor let-i="index" let-c="count" let-topic [ngForOf]="eksiciSharedService.sessionbean.topicsCurrentPage.contentList">
            <a [routerLink]="[eksiciSharedService.getEntryRouterLink(topic.href)]"  routerLinkActive="active">
                <table style="width:100%;height: 100%;">
                    <tr valign="top">
                        <td width="100%"> <i class="fa fa-paw fa-fw"></i>{{topic.topicText}}</td>
                        <td width="100%"><span class="badge" style="background-color: #f0ad4e;">{{topic.relatedEntryCount}}</span></td>
                    </tr>
                </table>
            </a>
        </template>
    </li>
</ul>